cffi
coloredlogs
cython
flask
gitpython
numpy
pandas
scipy
scikit-learn
scikit-image
torchfile
torchvision
tqdm
visdom
matplotlib
pyyaml
jupyter
ipython
mkl
mkl-include
open_spiel
qiskit==0.45.3
qiskit-aer
pennylane
nvidia-cuda-runtime-cu12
nvidia-cublas-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
cuquantum-cu12
pennylane-lightning[gpu]
pennylane-qiskit
pylatexenc